body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*
a {
  color: #00B7FF;
}*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
header {
}
/* nav {
  width: 100%;
  margin: 1em;
  padding-left: 4em;
  text-align: center;
  border: 1px solid black;

  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
nav.scrolled {
  position: fixed;
  padding: 0;
  width: 10em;
  right: .5em;

  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}
nav.scrolled li {
  float: none;
}
nav.scrolled ul {
  position: absolute;
  padding: 0;
}
nav ul, nav label {
  padding: 0;
  margin: 0 auto;
}
*/
nav ul {
  /*width: inherit;
  height: 2.5em;*/
  padding: 1em 1em;
  border: 1px solid yellow;
  margin: 0;
}
  /*nav {
    position: fixed;
    top: 0;
  }*/
nav label, nav input[type="checkbox"] {
  display: none;
}
nav li {
  float: left;
  text-align: center;
  list-style: none;
  border: 1px solid red;
}
nav a {
  display: block;
  width: 100%;
  border: 1px solid red;
}
nav li.selected {
  background-color: red;
}
#main-container {
  padding: 0 3em;
}

/* ----------- Mobile ----------- */

/* @media only screen and (max-device-width: 480px) {
  nav {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    right: 0;
  }
  nav.scrolled {
    width: 5em;
    margin: .5em;
  }
  nav.scrolled ul {
  }
  nav ul, nav li {
    padding: 0;
    display: block;
    width: inherit;
  }
  nav ul {
    position: absolute;
    height: 0;
  }
} */

  @media screen and (max-width: 44em) {
    nav[role='full-horizontal'] ul > li {
      width: 100%;
    }
    nav label {
      text-align: center;
      padding: .5em 0;
      width: inherit;
      display: block;
      cursor: pointer;

      border: 1px solid red;
    }
    nav ul {
      padding: 0 1em;
    }
    nav input[type="checkbox"] + ul {
      /*visibility: hidden;*/
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    nav input[type="checkbox"] + ul li {
      /*display: none;*/
      /*visibility: hidden;
      opacity: 0;*/
      height: 0;
      -webkit-transition: height 0.2s;
      -moz-transition: height 0.2s;
      -o-transition: height 0.2s;
      transition: height 0.2s;
    }
    nav input[type="checkbox"] + ul > li > a {
      display: none;
    }
    nav input[type="checkbox"] + ul {
      /*height: 0;*/
      /*opacity: 0;*/
    }
    nav input[type="checkbox"]:checked + ul {
      /*visibility: visible;*/
      opacity: 1;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    nav input[type="checkbox"]:checked + ul > li {
      /*display: block;*/
      /*visibility: visible;
      opacity: 1;*/
      height: 1.5em;
      -webkit-transition: height 0.2s;
      -moz-transition: height 0.2s;
      -o-transition: height 0.2s;
      transition: height 0.2s;
    }
    nav input[type="checkbox"]:checked + ul > li > a {
      display: block;
    }
  }
