@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-image: url('/build/img/sayagata-400px.png');
  background-repeat: repeat;
}
/*
a {
  color: #00B7FF;
}*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* ----------- Navigation/Footer ----------- */
header {
}
nav {
  width: 100%;
  /*margin: 1em;
  padding-left: 4em;
  text-align: center;*/

  /*-webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;*/

  position: fixed;
  top: 0;
  z-index: 1000;
  opacity: .9;     
  border-bottom: 1px solid #e1e8ed;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
/*nav.scrolled {
  position: fixed;
  background-color: white;
  opacity: .9;
  padding: 0;
  width: 10em;
  right: .5em;

  -webkit-transition: width 0.2s;
  -moz-transition: width 0.2s;
  -o-transition: width 0.2s;
  transition: width 0.2s;
}*/
/* 
nav.scrolled li {
  float: none;
}
nav.scrolled ul {
  position: absolute;
  padding: 0;
}
nav ul, nav label {
  padding: 0;
  margin: 0 auto;
}
*/
nav ul {
  /*width: inherit;
  height: 2.5em;*/
  padding: .5em;
  margin: 0;
}
  /*nav {
    position: fixed;
    top: 0;
  }*/
nav label, nav input[type="checkbox"] {
  display: none;
}
nav li {
  float: left;
  text-align: center;
  list-style: none;
}
nav li.social-link {
  float: right;
}
nav a {
  display: block;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
}
nav li.selected > a, nav li a:hover {
  background-color: #143447;
}
nav li.selected > a, nav li:hover > a, nav a, nav a:visited {
  color: white;
}

@-webkit-keyframes clickFadeIn { 
  0% { background-color: #000; }
  100% { background-color: #143447; }
}
@-moz-keyframes clickFadeIn { 
  0% { background-color: #000; }
  100% { background-color: #143447; }
}
@-ms-keyframes clickFadeIn { 
  0% { background-color: #000; }
  100% { background-color: #143447; }
}
@-o-keyframes clickFadeIn { 
  0% { background-color: #000; }
  100% { background-color: #143447; }
}
@keyframes clickFadeIn {
  0% { background-color: #000; }
  100% { background-color: #143447; }
}
nav li.selected > a {
  -webkit-animation: clickFadeIn .5s 0s 1 ease-in normal;
  -moz-animation: clickFadeIn .5s 0s 1 ease-in normal;
  -ms-animation: clickFadeIn .5s 0s 1 ease-in normal;
  -o-animation: clickFadeIn .5s 0s 1 ease-in normal;
  animation: clickFadeIn .5s 0s 1 ease-in normal;
}

nav, footer {
  background-color: #376F91;
  /*color: #143447;*/
}

footer > h4 {
  padding: .5em 0 .5em .5em;
}
    
/* ----------- Input Boxes ----------- */
.input-span, .submit-span {
    position: relative;
    display: block;
    margin: 30px 0px;
}

.balloon#comment-name {
    width: 300px;
    text-indent: 60px; 
}

.balloon#comment-text {
    width: 300px;
    text-indent: 80px; 
}

.balloon {
    display: inline-block;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #fff;
    background: #97A9DE;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;
}

.balloon::-webkit-input-placeholder {
    color: #97A9DE;
    text-indent: 0;
    font-weight: 300;
}
.balloon:-moz-webkit-input-placeholder {
    color: #97A9DE;
    text-indent: 0;
    font-weight: 300;
}
.balloon::-moz-webkit-input-placeholder {
    color: #97A9DE;
    text-indent: 0;
    font-weight: 300;
}
.balloon:-ms-webkit-input-placeholder {
    color: #97A9DE;
    text-indent: 0;
    font-weight: 300;
}
.balloon:-o-webkit-input-placeholder {
    color: #97A9DE;
    text-indent: 0;
    font-weight: 300;
}

.balloon + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    /*bottom: 8px;*/
    padding: 5px 15px;
    color: #000;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19,74,70,0);
    transition: all .3s ease-in-out;
    border-radius: 3px;
    background: rgba(122,184,147,0);
}

.balloon + label:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -3px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(122,184,147,0);
    transition: all .3s ease-in-out;
}

.balloon:focus,
.balloon:active,
.balloon#comment-name:focus,
.balloon#comment-name:active,
.balloon#comment-text:focus,
.balloon#comment-text:active
{
    color: #000;
    text-indent: 0;
    background: #fff;
}

.balloon:focus::-webkit-input-placeholder {
    color: #aaa;
}
.balloon:focus::-moz-webkit-input-placeholder {
    color: #aaa;
}
.balloon:focus:-moz-webkit-input-placeholder {
    color: #aaa;
}
.balloon:focus:-ms-webkit-input-placeholder {
    color: #aaa;
}
.balloon:focus:-o-webkit-input-placeholder {
    color: #aaa;
}
.balloon:active::-webkit-input-placeholder {
    color: #aaa;
}
.balloon:active::-moz-webkit-input-placeholder {
    color: #aaa;
}
.balloon:active:-moz-webkit-input-placeholder {
    color: #aaa;
}
.balloon:active:-ms-webkit-input-placeholder {
    color: #aaa;
}
.balloon:active:-o-webkit-input-placeholder {
    color: #aaa;
}

.balloon:focus + label, .balloon:active + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19,74,70,.4);
    background: rgba(112,125,165,1);
    transform: translateY(-40px);
}

.balloon:focus + label:after, .balloon:active + label:after {
    border-top: 4px solid rgba(112,125,165,1);
}

/* ----------- Content ----------- */
#page-container {
  padding: 0 3em;
}
#main-container .content-section {
  padding: 1em;
  box-sizing: border-box;
}
#main-container .content-section + .content-section,
#main-container .content-section + div.clearfix + .content-section {
    padding-top: 0;
}
.center-content {
  width: inherit;
  text-align: center;
}
.left-content {
  float: left;
}
.right-content {
  float: right;
}
.left-content, .right-content {
  width: 50%;
}

@-webkit-keyframes fadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-ms-keyframes fadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut500 {
  -webkit-animation: fadeOut .5s 0s 1 ease-out normal;
  -moz-animation: fadeOut .5s 0s 1 ease-out normal;
  -ms-animation: fadeOut .5s 0s 1 ease-out normal;
  -o-animation: fadeOut .5s 0s 1 ease-out normal;
  animation: fadeOut .5s 0s 1 ease-out normal;
}
.fadeOut400 {
  -webkit-animation: fadeOut .4s 0s 1 ease-out normal;
  -moz-animation: fadeOut .4s 0s 1 ease-out normal;
  -ms-animation: fadeOut .4s 0s 1 ease-out normal;
  -o-animation: fadeOut .4s 0s 1 ease-out normal;
  animation: fadeOut .4s 0s 1 ease-out normal;
}
.fadeOut300 {
  -webkit-animation: fadeOut .3s 0s 1 linear normal;
  -moz-animation: fadeOut .3s 0s 1 linear normal;
  -ms-animation: fadeOut .3s 0s 1 linear normal;
  -o-animation: fadeOut .3s 0s 1 linear normal;
  animation: fadeOut .3s 0s 1 linear normal;
}
.fadeOut200 {
  -webkit-animation: fadeOut .2s 0s 1 linear normal;
  -moz-animation: fadeOut .2s 0s 1 linear normal;
  -ms-animation: fadeOut .2s 0s 1 linear normal;
  -o-animation: fadeOut .2s 0s 1 linear normal;
  animation: fadeOut .2s 0s 1 linear normal;
}
.fadeOut100 {
  -webkit-animation: fadeOut .1s 0s 1 linear normal;
  -moz-animation: fadeOut .1s 0s 1 linear normal;
  -ms-animation: fadeOut .1s 0s 1 linear normal;
  -o-animation: fadeOut .1s 0s 1 linear normal;
  animation: fadeOut .1s 0s 1 linear normal;
}

.fadedOut {
  opacity: 0;
}

.my-pic {
    text-align: center;
}

.my-pic > div {
  background-image: url('/build/img/blank-person.png');
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  margin: 0 auto;
}

.resume a {
    text-decoration: none;
    font-weight: 400;
}

#github-container > a {
  margin: 0 auto;
  display: block;
  height: 69px;
  width: 150px;
  background-size: 150px 70px;
  background-repeat: no-repeat;
  background-image: url('/build/img/GitHub_Logo.png');
}

#stackoverflow-container {
  text-align: center;
  margin-top: 1em;
}
/* ----------- Comment box ----------- */
div.commentBox {
  /*background: #386F91;*/
  padding: 3px 30px 20px 30px;
  border-radius: 3px;
}

div.commentBox div.comment > h4 {
  margin: .5em 0;
}
div.commentBox div.comment > span.created {
  margin-left: 1em;
}
div.commentBox div.comment > span.entry {
  margin-left: 1em;
  font-style: italic;
}
div.commentForm {
  margin: 1em 0em;
}
/*div.commentForm input {
  margin: 0 .5em .5em 0;
}*/
div.commentForm input:last-child {
  display: block;
}
div.commentForm textarea {
    resize: none;
}

div.commentForm button[type="submit"] {
    padding: 10px; 
    font-family: "Open Sans", sans;
    font-weight: 400;
    border: 0;
    border-radius: 3px;

    position: relative;
    display: inline-block;

    transition: color 0.7s;
}

/*div.commentForm button[type="submit"]:active {
    background: #000000;
}*/

/*div.commentForm button[type="submit"]::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 38px;
    border-radius: 10%;

    opacity: 0;
    pointer-events: none;
}

div.commentForm button[type="submit"]:focus {
    outline: none;
}

div.commentForm button[type="submit"]:active::after {
    animation: expand-from-center 0.1s forwards;
}

@-webkit-keyframes expand-from-center {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
@-moz-keyframes expand-from-center {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
@-ms-keyframes expand-from-center {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
@-o-keyframes expand-from-center {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
@keyframes expand-from-center {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }
    25%, 50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale3d(1.2, 1.2, 1);
    }
}
*/

.commentsPageWrapper {
    padding: 1em 0;
}

.commentsPage {
    padding: 4px;
    margin: 0 5px;
    //border: 1px solid;
    cursor: pointer;
}

.commentsPage.active {
    background: #97A9DE;
    border-radius: 3px;
}

/* ----------- Non-mobile ----------- */

@media screen and (min-width: 960px) {
  #main-container {
    max-width: 1190px;
    margin: 0 auto;
  }
  nav li {
    padding: 0 .5em;
  }
  nav li > a {
    padding: .5em 1em;
    box-sizing: border-box; 
  }
}

/* ----------- Mobile ----------- */

/* @media only screen and (max-device-width: 480px) {
  nav {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    right: 0;
  }
  nav.scrolled {
    width: 5em;
    margin: .5em;
  }
  nav.scrolled ul {
  }
  nav ul, nav li {
    padding: 0;
    display: block;
    width: inherit;
  }
  nav ul {
    position: absolute;
    height: 0;
  }
} */

  @media screen and (max-width: 960px) {
    /* Mobile navigation formatting */
    nav[role='full-horizontal'] ul > li {
      width: 100%;
    }
    nav label {
      color: white;
      text-shadow: -1px 0 #143447, 0 1px #143447, 1px 0 #143447, 0 -1px #143447;

      text-align: center;
      padding: .5em 0;
      width: inherit;
      display: block;
      cursor: pointer;
    }
    nav ul {
      padding: 0 1em;
    }
    nav input[type="checkbox"] + ul > li > a {
      padding: .5em 0;
    }

    /* Menu link show/hide and transition */
    nav input[type="checkbox"] + ul {
      opacity: 0;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    nav input[type="checkbox"]:checked + ul {
      opacity: 1;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
    }
    nav input[type="checkbox"] + ul > li, nav input[type="checkbox"] + ul > div.social-link-wrapper > li {
      max-height: 0;
      -webkit-transition: max-height 0.2s;
      -moz-transition: max-height 0.2s;
      -o-transition: max-height 0.2s;
      transition: max-height 0.2s;
    }
    nav input[type="checkbox"]:checked + ul > li, nav input[type="checkbox"]:checked + ul > div.social-link-wrapper > li {
      max-height: 25em;
      -webkit-transition: max-height 0.2s;
      -moz-transition: max-height 0.2s;
      -o-transition: max-height 0.2s;
      transition: max-height 0.2s;
    }

    /* Remove page container width */
    #page-container {
        padding: 0;
    }
    /* Center Main Header */
    h1 {
        text-align: center;
    }
    /* Full width all content */
    .left-content, .right-content {
        float: none;
        width: inherit;
    }
    /* Don't show embedded resume on mobile */
    .resume > embed {
        display: none;
    }
  }
